<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit recipe #<%= @recipe.id %>
</h1>

<hr>

<form action="/update_recipe/<%= @recipe.id %>" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @recipe.name %>">
  </div>  
  <% @recipe.ingredients.each do |ingredient| %>
  
    <div class="form-group">
      <label for="i-name">
        Ingredient Name
      </label>
  
      <input type="text" id="name" name="name" class="form-control" value="<%= ingredient.name %>">
    </div>  
    
    <div class="form-group">
      <label for="amount">
        Amount
      </label>
  
      <input type="text" id="amount" name="amount" class="form-control" value="<%= ingredient.amount %>">
    </div>    
    <div class="form-group">
      <label for="units">
        Units
      </label>
  
      <input type="text" id="units" name="units" class="form-control" value="<%= ingredient.units %>">
    </div>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <button class="btn btn-block btn-outline-secondary">
    Update recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
