<h1>
  Recipe #<%= @recipe.id %> details
</h1>

<a href="/recipes/<%= @recipe.id %>/edit">
  Edit recipe
</a>

<%= link_to 'Add Ingredient', ingredients_new_path %>
<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @recipe.name %>
  </dd>

  <dt>
    Ingredients
  </dt>
  <dd>
    <% Ingredient.where(recipe_id: @recipe.id).each do |ingr| %>
      <div>
    
         <%= ingr.name %>
         <br>
         <%= ingr.amount %> - <%= ingr.units %>
         <br>
         <%= link_to "Edit #{ingr.name}", edit_ingredient_path(ingr) %>
         <br>
      </div>
      <hr>
    <% end %>
  </dd>

  <dt>
    Created by
  </dt>
  <dd>
    <%= link_to @recipe.user.username, user_path(@recipe.user) %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.updated_at) %> ago
  </dd>
</dl>
<%= render 'shared/quick_add_ingredient' %>
<a href="/delete_recipe/<%= @recipe.id %>">
  Delete recipe
</a>
<%= link_to "Create Shopping List", shoplists_new_path(@recipe) %>

<hr>

<a href="/recipes">
  Go back
</a>
